@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.25rem;
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: skyblue;
}

.scroll-text {
  animation: scroll-animation 22s linear infinite;
  color: white;
  white-space: nowrap;
  display: inline-block;
}

@keyframes scroll-animation {
  from {
    transform: translateX(95%);
  }

  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .scroll-text {
    animation-duration: 20s;
  }
    @keyframes scroll-animation {
      from {
        transform: translateX(20%);
      }
  
      to {
        transform: translateX(-100%);
      }
    }
}

.closing {
  animation: closeModal 0.3s forwards;
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}